<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if title}}
        {{title}}
        {{else}}
        {{!-- Trọng Ý Mobile --}}
        Project X
        {{/if}}
    </title>
    <link rel="icon" href="/asset/images/favicon.png" type="image/icon" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="/vendor/jquery/jquery.min.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sansita+Swashed:wght@600&display=swap"
        rel="stylesheet">

    <style>
        .title {
            font-size: 4vw !important;
        }
    </style>

</head>

<body>
    {{!-- admin layout --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
        <a class="navbar-brand pl-3" href="/">
            <i class="fas fa-home"></i>
            <span class="shop-name">
                {{!-- Trọng Ý Mobile --}}
                Project X
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{!-- START RIGHT SIDE NAVBAR --}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products/add-brand">Thêm nhà sản xuât</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/products/add-unit">Thêm điện thoại</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Loại sản phẩm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/products/view-products">Xem tất cả</a>
                        <a class="dropdown-item" href="/products/add-product">Thêm</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bán hàng
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/products/add-bill">Thêm hóa đơn</a>
                        <a class="dropdown-item" href="/products/view-statistic">Xem thống kê</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chương trình khuyến mãi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/products/view-discounts">Xem tất cả</a>
                        <a class="dropdown-item" href="/products/add-discount">Thêm</a>
                    </div>
                </li>


            </ul>
            {{!-- END RIGHT SIDE NAVBAR --}}


            <ul class="navbar-nav ml-auto">
                {{#if username}}
                <li class="nav-item">
                    <div class="dropdown dropleft">
                        <a class="dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{avatar}}" alt="" class="rounded-circle"
                                style="width: 3vw; height: 3vw; object-fit: contain;">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/users/?username={{username}}&avatar={{avatar}}">
                                Trang cá nhân
                            </a>
                            <a class="dropdown-item" href="/users/logout">
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/register"><i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>


    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    {{{ body }}}

</body>

</html>