<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if title}}
        {{title}}
        {{else}}
        Trọng Ý Mobile
        {{/if}}
    </title>
    <link rel="icon" href="/asset/images/favicon.png" type="image/icon" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">

    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sansita+Swashed:wght@600&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-0">
        <a class="navbar-brand pl-3" href="/">
            <i class="fas fa-home"></i>
            <span class="shop-name"> Trọng Ý Mobile</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{#if username}}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{avatar}}" alt="" class="rounded-circle"
                                style="width: 3vw; height: 3vw; object-fit: contain;">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/users/?username={{username}}&avatar={{avatar}}">
                                Trang cá nhân
                            </a>
                            <a class="dropdown-item" href="/users/logout">
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/register"><i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>



    {{{body}}}

    <footer class="row bg-dark w-100 mx-0">
        <div class="col-md-4">
            <p class="text-uppercase text-light">THÔNG TIN HỖ TRỢ</p>
            <ul>
                <li><a class="text-light" href="#">Chính sách bảo hành</a></li>
                <li><a class="text-light" href="#">Chính sách bảo hành</a></li>
                <li><a class="text-light" href="#">Chính sách bảo hành</a></li>
                <li><a class="text-light" href="#">Chính sách bảo hành</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-uppercase text-light">thông tin liên lạc</p>
            <ul>
                <li>
                    <a href="tel:+86378693635" class="text-light">Số điện thoại: 0378693635</a>
                </li>
                <li>
                    <a href="mailto:vodang@gmail.com" class="text-light">Email: vodang@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-uppercase text-light">chi nhánh</p>
            <ul>
                <li class="text-light">Miền bắc
                    <ul>
                        <li><a class="text-light" class="text-light" href="#">382 Nguyễn Văn Cừ</a></li>
                        <li><a class="text-light" class="text-light" href="#">122 Thái Hà</a></li>
                        <li><a class="text-light" class="text-light" href="#">392 Cầu giấy</a></li>
                        <li><a class="text-light" class="text-light" href="#">28 Trần phú - Hà đông</a></li>
                    </ul>
                </li>
                <li class="text-light">Miền trung
                    <ul>
                        <li><a class="text-light" class="text-light" href="#">153-155 Nguyễn Văn Linh-TP Đà Nẵng</a>
                        </li>
                        <li><a class="text-light" class="text-light" href="#">151 - 153 Hùng Vương, TP Tuy Hòa, Phú
                                Yên</a></li>
                        <li><a class="text-light" class="text-light" href="#">6A Lê Hồng Phong, Phường 4, Đà Lạt</a>
                        </li>
                        <li><a class="text-light" class="text-light" href="#">198 Tôn Đức Thắng, Phú Thủy, Phan
                                Thiết</a></li>
                    </ul>
                </li>
                <li class="text-light">Miền nam
                    <ul>
                        <li><a class="text-light" class="text-light" href="#">621D Cách Mạng Tháng 8, Phường 15 -
                                Quận
                                10</a></li>
                        <li><a class="text-light" class="text-light" href="#">436 Quang Trung, Phường 10, Quận Gò
                                Vấp,
                                TP.HCM</a></li>
                        <li><a class="text-light" class="text-light" href="#">215 Lê Văn Việt, phường Hiệp Phú, Quận
                                9</a></li>
                        <li><a class="text-light" class="text-light" href="#">867 Lũy Bán Bích, P. Tân Thành, Q. Tân
                                Phú, TP.HCM</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="/vendor/popper/popper.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>