<div class="container">
    <div class="row">
        <div class="col-12" id="msg-field">

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h1 class="text-center">Các sản phẩm</h1><br>
            <ul class="list-unstyled d-block shadow-lg p-5" id="added-list">
                {{#each productsDiscounted }}
                <li data-ma="{{ this.LDT_MA }}">
                    <b> {{ this.LDT_TEN }} </b>
                    <button type="button" class="btn btn-danger btn-unselect">&times;</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6 mx-auto">
            <h1 class="text-center">Thêm chương trình giảm giá</h1>
            <form action="/products/add-discount" class="shadow-lg p-5 m-3" id="frmAddDiscount" method="POST"
                novalidate>
                <div class="form-group">
                    <label for="maChuongTrinhKhuyenMai">Mã chương trình khuyến mãi</label>
                    <input type="text" name="maChuongTrinhKhuyenMai" class="form-control" id="maChuongTrinhKhuyenMai"
                        value="{{ discount.CTKM_MA }}" disabled>
                </div>
                <div class="form-group">
                    <label for="tenChuongTrinhKhuyenMai">Tên chương trình khuyến mãi</label>
                    <input type="text" name="tenChuongTrinhKhuyenMai" class="form-control" id="tenChuongTrinhKhuyenMai"
                        value="{{ discount.CTKM_TEN }}">
                </div>
                <div class="form-group">
                    <label for="heSoChuongTrinhKhuyenMai">Hệ số khuyến mãi</label>
                    <input type="number" name="heSoChuongTrinhKhuyenMai" class="form-control"
                        id="heSoChuongTrinhKhuyenMai" step="0.1" min="0.1" max="0.9" value="{{ discount.CTKM_HE_SO }}">
                    <small class="form-text text-muted">Hệ số từ 0.1 đến 0.9.</small>
                </div>
                <div class="form-group">
                    <label for="ngayKetThucChuongTrinhKhuyenMai">Ngày kết thúc</label>
                    <input type="date" name="ngayKetThucChuongTrinhKhuyenMai" class="form-control"
                        id="ngayKetThucChuongTrinhKhuyenMai" value="{{ discount.CTKM_NGAY_KET_THUC }}">
                </div>
                <div class="form-group">
                    <label>Các loại điện thoại trong chương trình</label>
                    <div class="d-flex">
                        <select name="maLoaiDienThoai" id="maLoaiDienThoai" class="custom-select">
                            <option value="">Chọn tên loại điện thoại</option>
                            {{#each productsDiscountable }}
                            <option value="{{ this.LDT_MA }}">{{ LDT_TEN }}</option>
                            {{/each}}
                        </select>
                        <button type="button" class="btn btn-secondary ml-1" id="btn-add">Thêm</button>
                    </div>

                </div>
                <button type="button" class="btn btn-primary form-control btn-submit">Áp dụng chỉnh sửa</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.btn-submit').click(function () {
            let isValid = true;
            // Validate
            $.each($('#frmAddDiscount input'), function () {
                isValid = true;
                if ($(this).val() === '') isValid = false;
                switch ($(this).attr('name')) {
                    case 'heSoChuongTrinhKhuyenMai':
                        if (+$(this).val() < 0.1 || +$(this).val() > 0.9)
                            isValid = false;
                        break;
                }
                if (isValid) $(this).removeClass('is-invalid').addClass('is-valid');
                else $(this).removeClass('is-valid').addClass('is-invalid');
            });
            if (isValid) {
                let discountProductIDs = [];
                // get all id of discounted products
                $.each($('#added-list li'), function () {
                    discountProductIDs.push($(this).attr('data-ma'));
                });

                $.post('/api/products/edit-discount',
                    {
                        maChuongTrinhKhuyenMai: $('#maChuongTrinhKhuyenMai').val(),
                        tenChuongTrinhKhuyenMai: $('#tenChuongTrinhKhuyenMai').val(),
                        heSoChuongTrinhKhuyenMai: $('#heSoChuongTrinhKhuyenMai').val(),
                        ngayKetThucChuongTrinhKhuyenMai: $('#ngayKetThucChuongTrinhKhuyenMai').val(),
                        maSanPhams: discountProductIDs.join()
                    },
                    function (data, status) {
                        if (data.result === 'OK') {
                            $('#msg-field').html(
                                `<div class="alert alert-success" role="alert">
                                    Sửa thành công
                                </div>`
                            );
                        } else if (data.result === 'ERROR') {
                            $('#msg-field').html(
                                `<div class="alert alert-danger" role="alert">
                                    Sửa thất bại
                                </div>`
                            );
                        }
                    }
                );
            }
        });
        $('#btn-add').click(function () {
            let maAdded = $('#maLoaiDienThoai').val();
            let tenAdded = $(`#maLoaiDienThoai option[value="${maAdded}"]`).html();
            if (maAdded !== '') {
                $('#added-list').append(
                    `<li data-ma="${maAdded}">
                        <b>${tenAdded}</b>
                        <button type="button" class="btn btn-danger btn-unselect">&times;</button>
                    </li>`
                );
            }
        });

        $(document).on('click', '.btn-unselect', function () {
            $(this).parents('li').remove();
        });
    });

</script>