<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center title">Các chương trình khuyến mãi</h1>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Hệ số</th>
                        <th>Ngày kết thúc</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each discounts }}
                    <tr>
                        <td>{{ this.CTKM_MA }}</td>
                        <td>{{ this.CTKM_TEN }}</td>
                        <td>{{ this.CTKM_HE_SO }}</td>
                        <td>{{ this.CTKM_NGAY_KET_THUC }}</td>
                        <td>
                            <a href="/products/view-discount?ma={{ this.CTKM_MA }}"
                                class="fas fa-eye text-decoration-none alert-dark bg-info text-dark p-1 rounded">
                            </a>
                            <a href="/products/edit-discount?ma={{ this.CTKM_MA }}"
                                class="fas fa-pen text-decoration-none bg-warning text-light p-1 rounded">
                            </a>
                            <a href="/products/delete-discount?ma={{ this.CTKM_MA }}"
                                class="fas fa-trash-alt text-decoration-none bg-danger text-light p-1 rounded">
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <a href="/products/add-discount" class="btn btn-success w-25">
                <i class="fas fa-plus"></i>
                Thêm
            </a>
        </div>
    </div>
</div>